<?php

return array(
  'components' => array(
    'db' => array(
      'connectionString' => 'mysql:host=localhost;dbname=qa',
      'emulatePrepare' => true,
      'username' => 'root',
      'password' => '',
      'charset' => 'utf8',
    ),
  ),

  'params' => array(
    'fbAppId' => '486587731404052',
    'fbAppSecret' => '6869727b1e3728132bfda0448821f8e7',
  ),
);